<div class="row-span-3 flex flex-col-reverse">
  <div class="rounded-lg bg-blue-200 w-2 mx-auto shadow" style="height: <%= group.percentage %>">
  </div>
</div>
<div class="w-7 mx-auto h-8 border-2 border-white rounded bg-white shadow">
  <div class="w-full h-full border-2 border-blue-500 rounded bg-white text-lg text-blue-600">
    <%= group.point %>
  </div>
</div>
<div class="w-6 mx-auto lg:p-1 text-gray-500">
  <%= group.count %>
</div>
